/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/Project_Swing/nbproject/private/
/Project_Swing/build/
/SampleCRUDApp/nbproject/private/
/SampleCRUDApp/CustomerDBAccess/nbproject/private/
/SampleCRUDApp/CustomerDBAccessLibrary/nbproject/private/
/SampleCRUDApp/CustomerEditor/nbproject/private/